name: Node CI

on: [push, pull_request]

jobs:
  build:
    name: graphql-mocks
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
      - name: install dependencies
        run: |
          pnpm install
          pnpm bootstrap
          pnpm run --filter @graphql-mocks/network-playwright playwright-install
      - name: run tests
        env:
          CODE_EXAMPLE_ENV: test
        run: |
          pnpm test
